body {
  background-color: black;
}

h3 {
  color: rgb(170,174,188);
}

img {
  border: 4px solid #9ea7b8;
}

iframe {
  border: 7px solid #9ea7b8;
}

button {
  background-color: #63686e;
  color: white;
}

a {
	font-weight: bold;
}

a:link {
  color: #fff;
}

a:visited {
  color: #DEB0EA;
}


select {
  background-color: gray;
}


.box {
  background-color: rgb(29, 30, 34);
  color: #c7c7c7;
}

.contrastColor {color: white; font-weight: bold;}
.contrastColor2 {color: yellow; font-weight: bold;}

/* .webpageTitle {font-size: 1.2em; font-weight: bold;} */
.webpageTitleWrapper {border-bottom: 1px solid white; font-weight: bold;}

/* 

User beore to style the header page title

.webpageTitle {font-size: 1.2em; font-weight: bold; border: 2px solid black; background-color: gray; color: black;} 
.webpageTitle {font-size: 1.4em; font-weight: bold; text-shadow: 0 0 1px #fff, 0 0 1px #fff; } */


/* 

	Other colors I like:

		#d0f3f7 mid blue
		#63686e dark gray
		#B7D1F5 sky blue
		#f4f6fa very light gray sky blue-ish
		#EBEFF5 bone white
		#FAFAB1 light yellow

https://goer.org/images/html/stdcolors.png

*/
