.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 1px auto;
  width: 700px; 
}

.box {
  border-radius: 15px;
  padding: 10px;
}

.one { 						/* HEADER */
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  width: 525px;
}

.two {						/* MENU */
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  width: 175px;
  text-align: center;
}


.five {						/* FOOTER */
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  font-size: 0.7em;
  text-align: right;
}