
.two ul {margin-top: 30px;}

#referenceOutput { 
  font-family: courier;
  font-weight: bold;
  text-align: left;
  }
 
.four { font-size: 125%; border: 1px solid gray;}
 
.two li {border: 1px solid white; padding: 8px;}

li:hover {background-color: gray;}

ul {margin: 0; padding: 0;}

a:hover {color: black;}